NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SMTP_HOST=mt-spring.panel-giris.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=h2zirvesi@tespam.org
SMTP_PASS=
CONTACT_TO=h2zirvesi@tespam.org
APPLICATION_NOTIFY_TO=h2zirvesi@tespam.org

GOOGLE_SHEETS_WEBHOOK_URL=
GOOGLE_SHEETS_WEBHOOK_SECRET=
